<h1>{{ title }}</h1>

<div class="well">
  <h3> Bucket: {{ bucket }}></h3>
  <h3> File: {{ file }}</h3>
  <h3> UUID: {{ uuid }}</h3>
  <h3> URL: {{ url }}</h3>
</div>
<p>Copy the link below and paste it anywhere. The file will be available for download by anyone who redeems that link.</p>

<input type="text" value="{{url}}" />
